<!-- IF PREFIX_SELECT -->
    <dl style="clear: left;">
    	<dt><label for="prefix">{L_PREFIX_SELECT}:</label><br />{L_PREFIX_SELECT_EXPLAIN}</dt>
        <dd>{PREFIX_SELECT} <input type="submit" name="prefix_add" class="button2" value="{L_ADD}" /></dd>
    </dl>
<!-- ENDIF -->
<!-- IF APPLIED_PREFIXES -->
    <dl style="clear: left;">
        <dt><label for="prefix_remove">{L_APPLIED_PREFIXES}</label><br />{L_APPLIED_PREFIXES_EXPLAIN}</dt>
        <dd>{APPLIED_PREFIXES}</dd>
        <dd><input type="submit" name="prefix_remove" class="button1" value="{L_REMOVE}" /> <input type="submit" name="prefix_clear" class="button2" value="{L_CLEAR}" /></dd>
    </dl>
<!-- ENDIF -->

<!-- This will allow it to hold onto the prefixes that are applied without actually applying it yet.
	 Otherwise, it will add it to the new post screen, but never apply it to any topics. Fun, eh? -->
     
     <!-- NOTE: This should be filled with a string of prefix IDs separated by commas
     	  It will be populated/added to each time a new prefix is applied on the posting page for that specific post.
     	  If the post is abandoned, it will be lost with all other form data.
     	  At the end, all prefix IDs here will be applied to the topic. -->
     <input type="hidden" name="prefix_temp_cache" value="{PREFIX_TEMP_CACHE}" />